# URL de la API backend
BASE_URL=https://teamapp.uner.gy

# URL pública del frontend
FRONTEND_URL=https://teamappspa.uner.gy

# Puerto expuesto en el host (el contenedor siempre corre en 3000 internamente)
EXPOSE_PORT=3000
